.Error {
  width: 100vw;
  height: 100vh;
  background-color: #5d001e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Error__container {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2df;
  border-radius: 1px solid black;
  box-shadow: 0px 0px 10px white, 0px 0px 20px white, 0px 0px 40px white;
  border-radius: 20px;
}

.Error__text {
  text-shadow: 1px 1px black, 2px 2px #5d001e;
}
